eagle*/*.s#*
eagle*/*.b#*
*.zip
/mplab/NAHS-LatchBrick_v1.0.X/build/
/mplab/NAHS-LatchBrick_v1.0.X/dist/
/mplab/NAHS-LatchBrick_v1.0.X/disassembly/
/mplab/TWI-Test.X/build/
/mplab/TWI-Test.X/dist/
/mplab/NAHS-LatchBrick_v1.0_imp1.X/build/
/mplab/NAHS-LatchBrick_v1.0_imp1.X/dist/
